
@main("choix") {
    <br/>
    <div class="container">
        <div class="jumbotron">
            <a href="@routes.Application.cnx_dc()" class="btn btn-block btn-primary"><h4>Directeur Commerciale</h4></a>
            <a href="@routes.Application.cnx_cdd()" class="btn btn-block btn-info"><h4>Chef de departement direct</h4></a>
            <a href="@routes.Application.cnx_cdi()" class="btn btn-block btn-primary"><h4>Chef de departement indirect</h4></a>
            <a href="@routes.Application.cnx_csd()" class="btn btn-block btn-info"><h4>Chef service distribution</h4></a>
            <a href="@routes.Application.cnx_csp()" class="btn btn-block btn-primary"><h4>Chef service pdv</h4></a>
            <a href="@routes.Application.cnx_rrb()" class="btn btn-block btn-info"><h4>Responsable regionale boutique</h4></a>
            <a href="@routes.Application.cnx_rrp()" class="btn btn-block btn-primary"><h4>Responsable regionale pdv</h4></a>
            <a href="@routes.Application.cnx_rrd()" class="btn btn-block btn-info"><h4>Responsable regionale distribution</h4></a>
        </div>
    </div>
}
